# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
../venv/
ENV/
env.bak/
venv.bak/

backend/weather/logs
backend/weather/data/src

# Frontend
node_modules
